@media screen and (max-width: 380px){
    .bottom{
        width: 99vw;
        display: flex;
        flex-direction: column;
    }
    .top{
        width: 99vw;
        height: 20vh;
    }
    .first{
        width: 99vw;
        height: 20vh;
    }
    .b{
        width: 35vw;
        height: 20vh;
    }
    .c{
        width: 35vw;
        height: 20vh;
        margin-left: 10px;
    }
    .d{
        width: 35vw;
        height: 20vh;
        margin-left: 10px;
       }
    .second{
        width: 99vw;
        height: 20vh;
    }
    .e{
        width: 35vw;
        height: 20vh;
    }
    .f{
        width: 35vw;
        height: 20vh;
        margin-left: 10px;
    }
    .g{
        width: 35vw;
        height: 20vh;
        margin-left: 10px;
    }
    .h{
        width: 99vw;
        height: 40vh;
        margin-left: -1px;
    }
}