    main{
        display: flex;
        flex-direction: column;
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
    }
    .a{
        width: 99vw;
        height: 20vh;
        background-color: #d9d9f1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section{
        display: flex;
        margin-top: 5px;
    }
    .b{
        width: 69vw;
        height: 77vh;
        background-color: #b8b8ec;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .c{
        width: 31vw;
        height: 77vh;
        background-color: #b2b2ed;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }
